# -------------------------
# Variáveis sensíveis
# -------------------------
.env
*.env

# -------------------------
# Ambiente virtual Python
# -------------------------
.venv/
venv/

# -------------------------
# Cache do Python
# -------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# -------------------------
# Arquivos do sistema
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# Streamlit
# -------------------------
.streamlit/secrets.toml

# -------------------------
# Logs
# -------------------------
*.log

# -------------------------
# IDE / Editor
# -------------------------
.vscode/
.idea/